div#page header {
    width: 100%;
    height: 100vh;
    background: #245402;
}

div#page header div {
    width: 50%;
    height: 100vh;
    /*background: #245402;*/
    background: black;
    float:right;
    overflow: hidden;
}

div#page header div img {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
